@charset "utf-8";
*{
    margin:0;
    padding:0;
}
body {
    font: 14px/22px "Hiragino Sans GB","微软雅黑","宋体";
    color: #333;
    word-wrap: break-word;
}
.header{
    width:80%;
    height:74px;
    margin:auto;
    background:url(../img/logo.gif) no-repeat;
}
.headerbox {
    width:80%;
    height:auto;
    background-color: aliceblue;
    margin: auto;
}
/*common*/
.comwidth {
    width: 800px;
    margin:0 auto;
}

.nav {
    padding:20px 20px 0 0;
}
.nav ul{
    list-style:none; margin:0 0 0 40%;
}
.nav ul li{
    float:left; margin:0 10px;
}
.nav ul li a {
    width:40px;
    display:inline-block;
    height:30px;
    line-height: 30px;
    text-decoration:none;
}

.banner {
    width:730;
    height:206px;
    margin:auto;
    background:url(../img/banner.jpg);
}

.summer {
    float:right;
    margin:60px 120px;
}

.summer a {
    font-size: 28;
    font-style: italic;
}

.body {
    width: 800px;
    margin: auto;
}

.left {
    width: 250px;
    margin-left: 0;
    float:left;
    height:100px;
    background-color:chartreuse;
}

.right {
    width:550px;
    margin-right: 0;
    float:right;
    height:100px;
    background-color:cornflowerblue;
}

.left-body {
    width:auto;
    height:auto;
    margin: auto;
}

h2 {
    font: 14px/22px "Hiragino Sans GB","微软雅黑","宋体";
    font-family: "Hiragino Sans GB","微软雅黑","宋体";
    width:auto;
    text-align:center;
}

#lg {
    width: 250px;
    border: 1px solid #3FC4B0;
    border-radius: 3px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0px 0px 18px;
    padding: 5px 15px;
}

.button {
    width:100px;
    height:30px;
    padding:3px;
    margin: auto;
}

.button_right {
    float:right;
}

.button_left {
    float:left;
}

#seach {
    width:130px;
    height:30px;
}

h2 {
    
}
